html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#flex-container {
  display: flex;
  padding: 50px;
  border: 2px solid black;
  justify-content: center;
}

#grid-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#sidebar {
  margin: 0 50px;
  padding: 20px;
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex: 1;
  display: flex;
}

.square {
  width: 30px;
  height: 30px;
}
