* {
  box-sizing: border-box;
}

#flex-container {
  display: flex;
  border: 2px solid black;
  justify-content: center;
}

#grid-container {
  border: 1px solid black;
  width: 960px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  border: 4px solid darkslategray;
  background: skyblue;
}

.coloured {
  background: lightcoral;
}
